body{
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background: black;
}
/* body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: url( 'images/MacBook Pro13.jpg');
  width: 100%;
  height: 100%;
  background-size: 100% auto ;
  display: block;
  opacity: .5; */
}
html{
  overflow-x: hidden;
  background: black;
  width: 100%;
}
.wrapper {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: #1F009D;
        overflow: hidden;
        /* background: black; */
        /* opacity: 70%; */
      }
      .sootnosheniye {
        position: relative;
        padding-bottom: 62.5%;
}
      .content {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        padding: 0;
        opacity: 100%;

      }
.remotecontroller {
 position: relative;
 display: block;
 background: url( '../images/пульт.svg');
 background-size: contain;
 background-repeat: no-repeat;
 width: 19.8645833%;
 height: 100vh;
 opacity: 100%;


}
.bt1 {
width: 30.4142632%;
height: 9.6666667%;
left: 10%;
top: 39%;
position: absolute;
display: block;
cursor: pointer !important;
background: url("../images/bt1.svg");
background-size: contain;
background-repeat: no-repeat;
}
.bt1:hover {
 opacity: 70%;
}
body.animated1 {
animation: filter-animation2 2s infinite;
}

@keyframes filter-animation2 {
 0% {
   filter: invert(6);;
 }

 50% {
   filter: invert(9);;
 }

 100% {
   filter:invert(6);;
 }
}



.bt2 {
 width: 30.4142632%;
 height: 9.6666667%;
left: 50%;
top: 39%;
position: absolute;
display: inline-block;
cursor: pointer;
background: url("../images/bt2.svg");
background-size: contain;
background-repeat: no-repeat;
}
.bt2:hover {
 opacity: 70%;
}
.bthead {
 width: 30.4142632%;
 height: 9.6666667%;
left: 10%;
top: 53.2%;
position: absolute;
display: inline-block;
cursor: pointer;
background: url("../images/bthead.svg");
background-size: contain;
background-repeat: no-repeat;
}
.bthead:hover {
 opacity: 70%;
}
.btarm {
 width: 30.4142632%;
 height: 9.6666667%;
left: 50%;
top: 53.2%;
position: absolute;
display: inline-block;
cursor: pointer;
background: url("../images/btarm.svg");
background-size: contain;
background-repeat: no-repeat;
}
.btarm:hover {
 opacity: 70%;
}
.btleg {
 width: 30.4142632%;
 height: 9.6666667%;
left: 10%;
top: 66.7%;
position: absolute;
display: inline-block;
cursor: pointer;
background: url("../images/btleg.svg");
background-size: contain;
background-repeat: no-repeat;
}
.btleg:hover {
 opacity: 70%;
}
.bthand{
 width: 30.4142632%;
 height: 9.6666667%;
left: 50%;
top: 66.7%;
position: absolute;
display: inline-block;
cursor: pointer;
background: url("../images/bthand.svg");
background-size: contain;
background-repeat: no-repeat;
}
.bthand:hover {
 opacity: 70%;
}
.bttext {
 width: 30.4142632%;
 height: 9.6666667%;
left: 10%;
top: 80%;
position: absolute;
cursor: pointer;
display: inline-block;
background: url("../images/bttext.svg");
background-size: contain;
background-repeat: no-repeat;
}
.bttext:hover {
 opacity: 70%;
}
.btinfo{
 width: 30.4142632%;
 height: 9.6666667%;
left: 50%;
top: 80%;
cursor: pointer;
position: absolute;
display: inline-block;
background: url("../images/btinfo.svg");
background-size: contain;
 background-repeat: no-repeat;
}
.btinfo:hover {
 opacity: 70%;
}

         .ant {
           width: 50%;
           height: 88.8888889%;
             display: inline-block;
             position: absolute;
             left: 35%;
             top: 0%;
             background: url("../images/ant.svg");
             background-size: 100% auto;
             background-position: 50%;
           }
           .head {
             width: 50%;
             height: 88.8888889%;
               display: inline-block;
               position: absolute;
               left: 35%;
               top: 0%;
               background: url("../images/head.svg");
               background-size: cover;
             }
             .arm {
               width: 50%;
               height: 88.8888889%;
                 display: inline-block;
                 position: absolute;
                 left: 35%;
                 top: 0%;
                 background: url("../images/arm.svg");
                 background-position: 0 0;
                 background-size: auto 100% ;
               }
               .hand {
                 width: 50%;
                 height: 88.8888889%;
                   display: inline-block;
                   position: absolute;
                   left: 35%;
                   top: 0%;
                   background: url("../images/hand.svg");
                   background-position: 0 0;
                   background-size: auto 100% ;
                 }
                 .leg {
                   width: 50%;
                   height: 88.8888889%;
                     display: inline-block;
                     position: absolute;
                     left: 35%;
                     top: 0%;
                     background: url("../images/leg.svg");
                     background-position: 0 0;
                     background-size: auto 100% ;
                   }
                   .light1 {position: absolute; top: 0%; height: 108%; background: #5DD7FD; width: 80%; left: 23%; opacity: 20%; animation: light2 .8s infinite ease-in-out; filter: blur(30px);}
                       @keyframes light2 {
                       0% {opacity: 20%;}
                       20% {opacity: 0%;}
                       30% {opacity: 20%;}
                       40% {opacity: 0%;}
                       50% {opacity: 20%;}
                       60% {opacity: 0%;}
                       70% {opacity: 20%;}
                       80% {opacity: 0%;}
                       90% {opacity: 20%;}
                       100% {opacity: 0%;}
                         }
                         .light {position: absolute; top: 0%; height: 108%; background: #FFF500; width: 80%; left: 23%; opacity: 20%; animation: light2 2s infinite ease-in-out; filter: blur(30px);}
                             @keyframes light2 {
                             0% {opacity: 0%;}
                             20% {opacity: 20%;}
                             30% {opacity: 0%;}
                             40% {opacity: 20%;}
                             50% {opacity: 0%;}
                             60% {opacity: 20%;}
                             70% {opacity: 0%;}
                             80% {opacity: 20%;}
                             90% {opacity: 0%;}
                             100% {opacity: 20%;}
                               }

                   /* .light {
                   width: 16%;
                   height: 108%;

                   position: absolute;
                   left: 83%;
                   top: -8%;
                   background: url("../images/свет.svg");
                   opacity: 1;

                   animation: light1 .7s infinite ease-in-out;
                   animation-delay: .5s;
                   }
                   @keyframes light1 {
                   0% {transform: rotate(0deg);
                   height: 112%;}
                   10% {
                   opacity: 0%;}
                   20% {transform: rotate(20deg);
                   left: 60%;
                   height: 112%;}
                   30% {opacity: 0%;
                   height: 112%;}
                   40% {transform: rotate(30deg);
                   left: 40%;
                   height: 112%;}
                   }
@keyframes light2 {
0% {transform: rotate(0deg);
height: 112%;}
10% {opacity: 0%;
height: 112%;}
20% {transform: rotate(-20deg);
left: 70%;
height: 112%;}
30% {opacity: 0%;
height: 112%;}
40% {transform: rotate(-30deg);
left: 40%;
height: 112%;}
}
.light1 {
width: 16%;
height: 112%;

position: absolute;
left: 20%;
top: -8%;
background: url("../images/свет1.svg");
opacity: 1;

animation: light2 .7s infinite ease-in-out;
animation-delay: .5s;
} */
.star_1{
display: inline-block;
position: absolute;
left: 30%;
top: 10%;
opacity: 100%;
animation: star_2 5s infinite ease-in-out;
animation-delay: .4s;

}
.star_1:hover {
opacity: 0;
}
@keyframes star_1 {

50% {
opacity: 30%;
}

}
@keyframes star_2 {
from {
transform: scale(1);
}
50% {
transform: scale(0.8);
}
to {
transform: scale(1);
}
}
.star_2{
display: inline-block;
position: absolute;
left: 80%;
top: 60%;
opacity: 100%;
animation: star_1 5s infinite ease-in-out;;
animation-delay: 4s;
}
.star_3{
display: inline-block;
position: absolute;
left: 86%;
top: 40%;
opacity: 100%;
animation: star_2 5s infinite ease-in-out;;
animation-delay: 2s;
}
.star_3:hover {
opacity: 0;
}
.star_4{
display: inline-block;
position: absolute;
left: 90%;
top: 10%;
opacity: 100%;
animation: star_1 5s infinite ease-in-out;;
animation-delay: 2s;
}
.star_5{
display: inline-block;
position: absolute;
left: 25%;
top: 50%;
opacity: 100%;
animation: star_1 5s infinite ease-in-out;;
animation-delay: 2s;
}
.star_6{
display: inline-block;
position: absolute;
left: 30%;
top: 78%;
opacity: 100%;
animation: star_2 5s infinite ease-in-out;;
animation-delay: 1s;
}
.star_6:hover {
opacity: 0;
}
.star_7{
display: inline-block;
position: absolute;
left: 70%;
top: 10%;
opacity: 100%;
animation: star_2 5s infinite ease-in-out;;
animation-delay: 1.4s;
}
.star_7:hover {
opacity: 0;
}
.star_8{
display: inline-block;
position: absolute;
left: 36%;
top: 40%;
opacity: 100%;
animation: star_2 5s infinite ease-in-out;;
animation-delay: 1.8s;
}
.star_8:hover {
opacity: 0;
}
.star_9{
display: inline-block;
position: absolute;
left: 90%;
top: 78%;
opacity: 100%;
animation: star_2 5s infinite ease-in-out;;
animation-delay: 4s;
}
.star_9:hover {
opacity: 0;
}
/* .eyel {
position: absolute;
width: 1.2%;
height: 2%;
left: 57.8%;
top: 32.7%;
background-color: #075CFF;
border-radius: 100%;
}
.eyer {
position: absolute;
width: 1.2%;
height: 2%;
left: 61.5%;
top: 32.7%;
background-color: #075CFF;
border-radius: 100%;
} */
.muravei {
width: 91px;
height: 110px;

position: absolute;
left: 89%;
top: 20%;
background: url("../images/спрайтзнак.svg");
animation: muravei .6s steps(1) alternate infinite;
animation-delay: .4s;
animation-play-state: running;
}
.muravei:hover {
animation-play-state: paused;
}
.muravei1 {
width: 91px;
height: 110px;

position: absolute;
left: 26%;
top: 15%;
background: url("../images/спрайтзнак.svg");
animation: muravei .6s steps(1) alternate infinite;
animation-delay: .9s;
animation-play-state: running;
}
.muravei1:hover {
animation-play-state: paused;
}
.muravei2 {
width: 91px;
height: 110px;

position: absolute;
left: 42%;
top: 7%;
background: url("../images/спрайтзнак.svg");
animation: muravei .6s steps(1) alternate infinite;
animation-delay: 1s;
animation-play-state: running;
}
.muravei2:hover {
animation-play-state: paused;
}
.muravei3 {
width: 91px;
height: 110px;
background-size: contain;
background-repeat: no-repeat;
position: absolute;
left: 59%;
top: 17%;
background: url("../images/спрайтзнак.svg");
animation: muravei .6s steps(1) alternate infinite;
animation-delay: 2s;
animation-play-state: running;
}
.muravei3:hover {
animation-play-state: paused;
}
.muravei4 {
width: 91px;
height: 110px;

position: absolute;
left: 80%;
top: 6%;
background: url("../images/спрайтзнак.svg");
animation: muravei .6s steps(1) alternate infinite;
animation-delay: .7s;
animation-play-state: running;
}
.muravei4:hover {
animation-play-state: paused;
}
.muravei5 {
width: 91px;
height: 110px;

position: absolute;
left: 26%;
top: 65%;
background: url("../images/спрайтзнак.svg");
animation: muravei .6s steps(1) alternate infinite;
animation-delay: 2s;
animation-play-state: running;
}
.muravei5:hover {
animation-play-state: paused;
}
.muravei6 {
width: 91px;
height: 110px;
position: absolute;
left: 40%;
top: 60%;
background: url("../images/спрайтзнак.svg");
animation: muravei .6s steps(1) alternate infinite;
animation-delay: .1s;
animation-play-state: running;
}
.none {
display: none;
}
.block {
display: block;
}
.muravei6:hover {
animation-play-state: paused;
}
.muravei7 {
width: 91px;
height: 110px;

position: absolute;
left: 55%;
top: 65%;
background: url("../images/спрайтзнак.svg");
animation: muravei .6s steps(1) alternate infinite;
animation-delay: 1s;
animation-play-state: running;
}
.muravei7:hover {
animation-play-state: paused;
}
.muravei8 {
width: 91px;
height: 110px;

position: absolute;
left: 72%;
top: 68%;
background: url("../images/спрайтзнак.svg");
animation: muravei .6s steps(1) alternate infinite;
animation-delay: .6s;
animation-play-state: running;
}
.muravei8:hover {
 animation-play-state: paused;
}
.muravei9 {
width: 91px;
height: 110px;

position: absolute;
left: 87%;
top: 65%;
background: url("../images/спрайтзнак.svg");
animation: muravei .6s steps(1) alternate infinite;
animation-delay: .4s;
animation-play-state: running;
}
.muravei9:hover {
animation-play-state: paused;
}
        @keyframes muravei {
       0% {background-position: 0 top;}
       25% {background-position: -91px top;}
       50% {background-position: -182px top;}
       75% {background-position: -273px top;}
       100% {background-position: -364px top;}
     }
     .text h1{

       top: 35%;
       left: 23%;
       width: 73%;
       font-size: 44px;
       line-height: 113.9%;
       position: absolute;

       color: white;
       font-family: "Jost";
       font-style: bold;
       text-transform: uppercase
       }
       .text p{

         top: 80%;
         left: 23%;
         width: 55%;
         font-size: 20px;
         line-height: 107.4%;
         position: absolute;

         color: white;
         font-family: "Jost";
         font-style: bold;
         text-transform: uppercase
         }
         .blurr {
           width: 85%;
           height: 100vh;
         left: 18.15%;
         top: 0%;

         /* background-color: #1F009D; */
         background-image: url("../images/blurr.png");

         position: absolute;
}
.text1 {
background-image: url("../images/текст1.svg");
background-size: contain;
background-repeat: no-repeat;
position: absolute;
cursor: pointer;
left: 23%;
top: 15%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: .5s;
animation-fill-mode: forwards;
}

.text2 {
background-image: url("../images/текст2.svg");
background-size: contain;
background-repeat: no-repeat;
position: absolute;
cursor: pointer;
left: 75%;
top: 25%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: 1s;
animation-fill-mode: forwards;
}
.text3 {
background-image: url("../images/текст3.svg");
background-size: contain;
background-repeat: no-repeat;
position: absolute;
cursor: pointer;
left: 55%;
top: 40%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: 1.5s;
animation-fill-mode: forwards;
}
.text4 {
background-image: url("../images/текст4.svg");
background-size: contain;
cursor: pointer;
background-repeat: no-repeat;
position: absolute;
left: 30%;
top: 58%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: 2s;
animation-fill-mode: forwards;
}
.text5 {
background-image: url("../images/текст5.svg");
background-size: contain;
cursor: pointer;
background-repeat: no-repeat;
position: absolute;
left: 75%;
top: 60%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: 2.5s;
animation-fill-mode: forwards;
}
.text6 {
background-image: url("../images/текст6.svg");
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
position: absolute;
left: 53%;
top: 57%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: 3s;
animation-fill-mode: forwards;
}
.text7 {
background-image: url("../images/текст7.svg");
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
position: absolute;
left: 34%;
top: 35%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: 3.5s;
animation-fill-mode: forwards;
}
.text8 {
background-image: url("../images/текст8.svg");
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
position: absolute;
left: 68%;
top: 48%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: 4s;
animation-fill-mode: forwards;
}
.text9 {
background-image: url("../images/текст9.svg");
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
position: absolute;
left: 45%;
top: 15%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: 4.5s;
animation-fill-mode: forwards;
}
.text10 {
background-image: url("../images/текст10.svg");
background-size: contain;
cursor: pointer;
background-repeat: no-repeat;
position: absolute;
left: 24%;
top: 54%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: 5s;
animation-fill-mode: forwards;
}
.text11 {
background-image: url("../images/текст11.svg");
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
position: absolute;
left: 70%;
top: 10%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: 5.5s;
animation-fill-mode: forwards;
}
.text12 {
background-image: url("../images/текст12.svg");
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
position: absolute;
left: 64%;
top: 25%;
height: 26.2177778%;
width: 21.1805556%;
opacity: 0%;
animation: textt 1s ;
animation-delay: 6s;
animation-fill-mode: forwards;
}
@keyframes textt {
0% {opacity: 0%;}
100% {opacity: 100%;}
}
