@media all and (max-width: 1792px){}
  @media all and (max-width: 1680px)and (min-width:1050px){
.blurr {left: 19.8%;}
.text p {top: 85%;}
.light {display: none;}
.light1 {background: #5DD7FD; width: 80%; left: 23%; opacity: 20%; animation: light2 .1s infinite ease-in-out; filter: blur(30px);}
    @keyframes light2 {
    0% {opacity: 20%;}
    20% {opacity: 0%;}
    30% {opacity: 20%;}
    40% {opacity: 0%;}
    50% {opacity: 20%;}
    60% {opacity: 0%;}
    70% {opacity: 20%;}
    80% {opacity: 0%;}
    90% {opacity: 20%;}
    100% {opacity: 0%;}
      }
  }
  @media all and (max-width: 1440px) and (min-width:900px){
    .blurr {left: 18.1%;}
    .text p {top: 80%;}
    .light {display: none;}
    .light1 {background: #5DD7FD; width: 80%; left: 23%; opacity: 20%; animation: light2 .1s infinite ease-in-out; filter: blur(30px);}
        @keyframes light2 {
        0% {opacity: 20%;}
        20% {opacity: 0%;}
        30% {opacity: 20%;}
        40% {opacity: 0%;}
        50% {opacity: 20%;}
        60% {opacity: 0%;}
        70% {opacity: 20%;}
        80% {opacity: 0%;}
        90% {opacity: 20%;}
        100% {opacity: 0%;}
          }
  }
    @media all and (max-width: 1366px) and (min-width:768px){
      .light {display: none;}
      .light1 {background: #5DD7FD; width: 80%; height: 120%; left: 25%; opacity: 20%; animation: light2 .1s infinite ease-in-out; filter: blur(30px);}
          @keyframes light2 {
          0% {opacity: 20%;}
          20% {opacity: 0%;}
          30% {opacity: 20%;}
          40% {opacity: 0%;}
          50% {opacity: 20%;}
          60% {opacity: 0%;}
          70% {opacity: 20%;}
          80% {opacity: 0%;}
          90% {opacity: 20%;}
          100% {opacity: 0%;}
            }
      .star_9 {top: 90%;}
      .star_6 {top: 86%;}
      .remotecontroller {
        width: 24%;}
        .ant {

                top: 20%;
                left: 38%;
          }
        .head {

            top: 20%;
            left: 38%;
        }
        .arm {

          top: 20%;
          left: 38%;
        }
        .hand {

          top: 20%;
          left: 38%;
        }
        .leg {

          top: 20%;
          left: 38%;
        }
        .muravei5 { top: 96%;}
        .muravei9 { top: 95%;}
        .muravei6 { top: 70%;}
        .muravei7 { top: 98%;}
        .muravei8 { top: 78%;}
        .muravei9 { top: 96%;}
        .muravei { top: 30%;}
        .muravei1 { top: 13%;}
        .muravei2 { top: 22%;}
        .muravei3 { top: 15%;}
        .muravei4 { top: 10%;}
        /* @keyframes light2 {
        0% {transform: rotate(0deg);
        height: 150%;}
        10% {opacity: 0%;
        height: 150%;}
        20% {transform: rotate(-20deg);
        left: 70%;
        height: 150%;}
        30% {opacity: 0%;
        height: 150%;}
        40% {transform: rotate(-30deg);
        left: 40%;
        height: 150%;}
        }
        @keyframes light1 {
        0% {transform: rotate(0deg);
        height: 112%;}
        10% {
        opacity: 0%;}
        20% {transform: rotate(20deg);
        left: 60%;
        height: 112%;}
        30% {opacity: 0%;
        height: 112%;}
        40% {transform: rotate(30deg);
        left: 40%;
        height: 112%;}
        } */
        .blurr {width: 77%; left: 23.9%;}
        .round1_1 {left: 32%;}
        .round1_2 {left: 33%;}
        .round1_3 {left: 32%;}
        .round1_4 {left: 33%;}
        .round6_1 {left: 35%;}
        .round6_2 {left: 30%;}
        .round6_3 {left: 35%;}
        @keyframes bl6 {
           from {
             transform: scale(1);
           }
           30% {
             left: 33%; top: 10%;
           }
           50% {
             transform: scale(0.6);
           }
           70% {
             left: 50%; top: 40%;
           }
           to {
             transform: scale(1);
         }
         }
         .text h1 {font-size: 34px; top: 50%; left:30%; width: 65%;}
         .text p {font-size: 16px; top: 90%; left: 30%; width: 55%}
         /* .light {width: 18%; height: 150%; top: 0%; left: 80%;}
         .light1 {width: 18%; height: 150%; top: 0%; left: 30%;} */
         .round3_1 {
           top: 70%;}
           .round3_2 {
             top: 72%;}
             @keyframes bl3 {
                from {
                  transform: scale(1);
                }
                50% {
                  left: 30%;
                  top: 50%;
                  }
                  {
                  transform: scale(0.8);
                }
                70% {
                  left: 40%;
                  top: 80%;
                }
                to {
                  transform: scale(1);
              }
              }
    }
@media all and (max-width: 1280px) and (min-width:800px){
  .blurr {width: 82.1%; left: 19.8%;}
  .text h1 {font-size: 36px; top: 35%; left: 24%;}
  .text p {font-size: 18px; top: 80%; left: 24%;}
  .muravei5 { top: 60%;}
  .muravei9 { top: 67%;}
  .muravei6 { top: 65%;}
  .muravei7 { top: 60%;}
  .muravei8 { top: 59%;}
  .light {display: none;}
  .light1 {background: #5DD7FD; width: 80%; left: 23%; opacity: 20%; animation: light2 .1s infinite ease-in-out; filter: blur(30px);}
      @keyframes light2 {
      0% {opacity: 20%;}
      20% {opacity: 0%;}
      30% {opacity: 20%;}
      40% {opacity: 0%;}
      50% {opacity: 20%;}
      60% {opacity: 0%;}
      70% {opacity: 20%;}
      80% {opacity: 0%;}
      90% {opacity: 20%;}
      100% {opacity: 0%;}
        }
        .ant {

                top: 10%;
                left: 38%;
          }
        .head {

            top: 10%;
            left: 38%;
        }
        .arm {

          top: 10%;
          left: 38%;
        }
        .hand {

          top: 10%;
          left: 38%;
        }
        .leg {

          top: 10%;
          left: 38%;
        }
  /* .light {width: 22.7%;  top: 0%; left: 80%;} */
}
  @media all and (max-width: 1024px)  and (orientation:landscape) {

    .remotecontroller {
      width: 24%;}
    .bt1 {left: 15%;}
    .bt2 {left: 55%;}
    .bthead {left: 15%;}
    .btarm {left: 55%;}
    .bthand {left: 15%;}
    .btleg {left: 55%;}
    .bttext {left: 15%;}
    .btinfo {left: 55%;}
    .round6_1 {left: 28%;}
    .round6_2 {left: 30%;}
    .round6_3 {left: 28%;}
    @keyframes bl6 {
       from {
         transform: scale(1);
       }
       30% {
         left: 27%; top: 10%;
       }
       50% {
         transform: scale(0.6);
       }
       70% {
         left: 50%; top: 40%;
       }
       to {
         transform: scale(1);
     }
     }
     .round1_1 {left: 28%;}
     .round1_2 {left: 30%;}
     .round1_3 {left: 28%;}
     .round1_4 {left: 28%;}
     .round4_1 {left: 30%;top: 58%;}
     .round4_2 {left: 32%;top: 59%;}
     .round4_3 {left: 34%;top: 62%;}
     @keyframes bl4 {
        from {
          transform: scale(1);
        }
        50% {
          left: 40%;
          top: 30%;
          }
          {
          transform: scale(0.8);
        }
        70% {
          left: 40%;
          top: 70%;
        }
        to {
          transform: scale(1);
      }
      }
.ant {

        top: 15%;
        left: 38%;
  }
.head {

    top: 15%;
    left: 38%;
}
.arm {

  top: 15%;
  left: 38%;
}
.hand {
;
  top: 15%;
  left: 38%;
}
.leg {

  top: 15%;
  left: 38%;
}
.star_6 {top: 95%; left: 35%;}
.star_9 {top: 93%;}
.star_5 {left: 30%; top: 58%;}
.text1 {left: 25%;top: 10%;}
.text4 {top: 80%;}
.text5 {top: 86%;}
.text6 {top: 70%;}
.text8 {top: 55%;}
.text2 {left: 78%; top: 30%;}
.text h1 {font-size: 34px; top: 40%; left: 27%;}
.text p {font-size: 14px; top: 100%; left: 27%;}
.blurr {width: 77%; left: 23.75%;}
.muravei5 { top: 80%;}
.muravei9 { top: 88%;}
.muravei6 { top: 79%;}
.muravei7 { top: 75%;}
.muravei8 { top: 80%;}
.light1{ height: 100%;}
    @media all and (max-width:1024px) and (orientation:portrait) {
.remotecontroller { display: none;}
      .ant {
              width: 47%;
              height: 84%;
              top: 30%;
              left: 38%;
        }
      .head {
        width: 47%;
        height: 84%;
          top: 30%;
          left: 38%;
      }
      .arm {
        width: 47%;
        height: 84%;
        top: 30%;
        left: 38%;
      }
      .hand {
        width: 47%;
        height: 84%;
        top: 30%;
        left: 38%;
      }
      .leg {
        width: 47%;
        height: 84%;
        top: 30%;
        left: 38%;
      }
    }
