@media only screen and (min-width: 1680px) and (max-width: 1920px) {
 /* MacBook Pro 2020 15"*/
.blurr {left: 19.8%;}
.remotecontroller {width: 20%;}
.text h1 {width: 63%;}
.text p {font-size: 24px; top: 85%;}
.text1 {top: 10%;}
.text4 {top: 73%;}
.text5 {top: 70%;}
.text6 {top: 68%;}
.text12 {top: 45%; left: 40%;}
.light1 {left: 21.9%;}
.light {left: 21.9%;}
}
@media only screen and (min-width: 1440px) and (max-width: 1679px) {
  /* MacBook Pro 2020*/







.remotecontroller {width: 20.5%;}
.text4 {top: 63%;}
.text5 {top: 65%;}
.text6 {top: 64%;}
 }
 @media only screen and (min-width: 1366px) and (max-width: 1440px) {


  }
  @media only screen and (min-width: 1366px) and (max-width: 1440px) {
    .blurr {left: 17.9%;}
     .text h1 {font-size: 40px;}
     .text p {font-size: 16px;}
     .muravei7 {top: 60%;}
     .star_9 {top: 72%;}
     .star_6 {top: 75%;}
     .light {left: 20%;}
     .light1 {left: 20%;}

   }

@media only screen and (min-width: 1050px) and (max-width: 1279px) {
  .remotecontroller {width: 32%;}
  .blurr {left: 30.9%;}
  .text h1 {font-size: 34px; left: 33%; top: 45%; width: 60%;}
  .text p {font-size: 18px; width: 64%; left: 33%; top: 90%;}
  .muravei5 {top: 100%; left: 35%;}
  .muravei6 {top: 120%; left: 45%;}
  .muravei7 {top: 112%; left: 60%;}
  .muravei8 {top: 103%; left: 90%;}
  .star_9 {top: 90%;}
  .star_6 {top: 102%; left: 38%;}
  .star_5 {left: 34%;}
  .star_1 {left: 38%;}
  .round1_1 {left: 35%;}
  .round1_2 {left: 38%;}
  .round1_3 {left: 34%;}
  .round1_4 {left: 38%;}
  .round6_1 {left: 38%;}
  .round6_2 {left: 34%;}
  .round6_3 {left: 38%;}
  @keyframes bl6 {
     from {
       transform: scale(1);
     }
     30% {
       left: 37%; top: 10%;
     }
     50% {
       transform: scale(0.6);
     }
     70% {
       left: 50%; top: 40%;
     }
     to {
       transform: scale(1);
   }
   }
   .round5_1 {left: 40%;}
   .round5_2 {left: 46%;}
   .round5_3 {left: 80%;}

@media only screen and (min-width: 1024px) and (max-width: 1050px) {
  /* Macbook Air 11.6" */
  .blurr {left: 23.8%;}
  .text h1 {font-size: 34px; left: 26%; top: 45%;}











 .text p {left: 26%; top: 70%; top: 100%;}
 .muravei5 {top: 70%;}
 .muravei6 {top: 78%;}
 .muravei7 {top: 76%;}
 .muravei8 {top: 80%;}
 .remotecontroller {width: 24%;}
 .light1 {left: 26%; height: 130%;}
 .text1 {left: 26%;}
 .text3 {top: 55%;}
 .text4 {top: 87%;}
 .text5 {top: 70%;}
 .text6 {top: 85%;}
 .text10 {left: 27%;}
 .text12 {left: 55%; top: 29%;}
 .star_9 {top: 90%;}
 .star_6 {top: 86%;}
 .star_5 {left: 27%;}
 .ant {top: 15%;left: 38%;}
 .head {top: 15%;left: 38%;}
 .arm {top: 15%;left: 38%;}
 .hand {top: 15%;left: 38%;}
 .leg {top: 15%;left: 38%;}
 .round1_1 {left: 27%;}
 .round1_2 {left: 27%;}
 .round1_3 {left: 29%;}
 .round1_4 {left: 27%;}
 .round6_1 {left: 25%;}
 .round6_2 {left: 28%;}
 .round6_3 {left: 29%;}
 @keyframes bl6 {
    from {
      transform: scale(1);
    }
    30% {
      left: 33%; top: 10%;
    }
    50% {
      transform: scale(0.6);
    }
    70% {
      left: 50%; top: 40%;
    }
    to {
      transform: scale(1);
  }
  }
  @keyframes bl1 {
     0% {
       transform: scale(1);
       ;
     }
     30% {
       top: 80%;
     }
     50% {
       left: 50%; top: 60%;
       }
       {
       transform: scale(0.9);
     }
     70% {
       top: 90%;
     }
     100% {
       transform: scale(1);
   }
   }
   .ant {
           top: 20%;
           left: 38%;
     }
   .head {
       top: 20%;
       left: 38%;
   }
   .arm {
     top: 20%;
     left: 38%;
   }
   .hand {
     top: 20%;
     left: 38%;
   }
   .leg {
     top: 20%;
     left: 38%;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
 /* iPad Portrait */
.remotecontroller { width: 100vw; height: 50%; background: url( '../images/пульт1.svg'); top: 164%;}
.bt1 {width: 9.6549479%; height: 30.3781392%; left: 5%; top: 15%;}
.bt2 {width: 9.6549479%; height: 30.3781392%; left: 5%; top: 60%;}
.bthead {width: 9.6549479%; height: 30.3781392%; left: 70%; top: 15%;}
.btarm {width: 9.6549479%; height: 30.3781392%; left: 85%; top: 15%;}
.bthand {width: 9.6549479%; height: 30.3781392%; left: 85%; top: 60%;}
.btleg {width: 9.6549479%; height: 30.3781392%; left: 70%; top: 60%;}
.bttext {width: 9.6549479%; height: 30.3781392%; left: 20%; top: 60%;}
.btinfo {width: 9.6549479%; height: 30.3781392%; left: 20%; top: 15%;}
.round1_1 {left: 0%;top: 0%;}
.round1_2 {left: 2%;top: 1%;}
.round1_3 {left: 3%;top: 0%;}
.round1_4 {left: 1%;top: 3%;}
@keyframes bl1 {
   0% {transform: scale(1);}
   30% {top: 20%;}
   50% {left: 70%; top: 40%; transform: scale(0.9);}
   70% {top: 60%;}
   100% {transform: scale(1);}
 }
 .round4_1 {left: 0%; top: 73%;}
 .round4_2 {left: 0%; top: 76%;}
 .round4_3 {left: 3%; top: 70%;}
 .muravei9 {top: 120%; left: 80%;}
 .muravei, .muravei1, .muravei2, .muravei3, .muravei4, .muravei5, .muravei6, .muravei7, .muravei8, .muravei10 {display: none;}
 @keyframes bl4 {
    from {transform: scale(1);}
    50% {left: 30%;top: 30%;}
      {transform: scale(0.8);}
    70% {left: 20%;top: 50%;
    }
    to {
    transform: scale(1);}
  }
  .round2_1 {left: 70%; top: 0%;}
  .round2_2 {left: 68%; top: 3%;}
  .round2_3 {left: 65%; top: 2%;}
  @keyframes bl2 {
     from {
       transform: scale(1);
     }
     50% { top: 50%;}
     {
       transform: scale(1.1);
     }
     to {
       transform: scale(1);
   }
   }
   .round3_1 {
     top: 41%; left: 40%;}
     .round3_2 {
       top: 40%; left: 40%;}
       @keyframes bl3 {
          from {
            transform: scale(1);
          }
          50% {
            left: 35%;
            top: 34%;
            }
            {
            transform: scale(0.8);
          }
          70% {
            left: 13%;
            top: 30%;
          }
          to {
            transform: scale(1);
        }
        }
        .blurr {height: 164%; left: 0%; width: 100%; top:0%}
        .text h1 { left: 7%; width: 85%; font-size: 34px;}
        .text p { left: 7%; width: 85%; font-size: 14px; top: 150%;}
        .ant {top: 40%;left: 28%;}
        .head {top: 40%;left: 28%;}
        .arm {top: 40%;left: 28%;}
        .hand {top: 40%;left: 28%;}
        .leg {top: 40%;left: 28%;}
        .star_6 {top: 120%;left: 5%;}
        .star_5 {top: 70%;left: 20%;}
        .star_8 {top: 36%;left: 33%;}
        .star_1 {top: 13%;left: 13%;}
        .star_9 {top: 130%;left: 80%;}
        .star_2 {top: 76%;}
         .star_3 {top: 40%;left: 70%;}
         .star_4 {top: 20%;}
         .light1 {height: 160%; left: 0%; width: 100%; top:0%}
         .light {height: 160%; left: 0%; width: 100%; top:0%}
         .text1 {left: 3%;}
         .text3 {top: 70%;}
         .text4 {top: 110%; left: 10%;}








        .text5 {top: 120%;}
        .text6 {top: 95%;}
        .text10 {top: 90%; left: 18%;}
        .text8 {top: 55%; left: 78%;}
        .text12 {top: 55%; left: 25%;}
        .text11 {top: 25%; left: 60%;}
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
 /* промежуток */
}
@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
 /* iPhone X */
.remotecontroller { width: 100vw; height: 101%; background: url( '../images/пульт3.svg'); top: 250%;}
.bt1 {width: 18.603125%; height: 39.4238411%; left: 8%; top: 52%;}
.bt2 {display: none;}
.bthead {display: none;}
.btarm {width: 18.603125%; height: 39.4238411%; left: 8%; top: 10%;}
.bthand {width: 18.603125%; height: 39.4238411%; left: 77%; top: 10%;}
.btleg {width: 18.603125%; height: 39.4238411%; left: 42%; top: 10%;}
.bttext {display: none;}
.btinfo {width: 18.603125%; height: 39.4238411%; left: 77%; top: 52%;}
.round3_1 {display: none;}
.round3_2 {display: none;}
.round4_1 {display: none;}
.round4_2 {left: 0%; top: 9%;}
.round4_3 {left: 3%; top: 6%;}
.round1_1 {display: none;}
.round1_2 {display: none;}
.round1_3 {display: none;}
.round1_4 {display: none;}
@keyframes bl4 {
  from {transform: scale(1);}
  50% {left: 100%;top: 10%;}
    {transform: scale(0.8);}
  70% {left: 1%;top: 13%;}
  to {transform: scale(1);}}
  .muravei, .muravei1, .muravei2, .muravei3, .muravei4, .muravei5, .muravei6, .muravei7, .muravei8, .muravei10 {display: none;}
  .muravei9 {top: 190%; left: 36%;}
  .text h1 {font-size: 12px; left: 5%; width: 96%; top: 40%;}
  .text p {display: none;}
  .blurr {width: 101%; left: 0%; height: 250%; }
  .ant {top: 65%;left: 25%;}
  .head {top: 65%;left: 25%;}
  .arm {top: 65%;left: 25%;}
  .hand {top: 65%;left: 25%;}
  .leg {top: 65%;left: 25%;}
  .star_6 {top: 190%;left: 5%; transform: scale(0.5);}
  .star_5 {top: 90%;left: 12%; transform: scale(0.5);}
  .star_8 {top: 36%;left: 33%; transform: scale(0.5);}
  .star_1 {top: 10%;left: 7%; transform: scale(0.5);}
  .star_9 {top: 150%;left: 80%;transform: scale(0.5);}
  .star_2 {top: 76%; transform: scale(0.5);}
  .star_3 {top: 200%;left: 50%; transform: scale(0.5);}
  .star_4 {top: 20%; transform: scale(0.5); left: 60%;}
  .star_7 {top: 10%; transform: scale(0.5); left: 80%;}
}
@media only screen  and (max-device-width: 374px)  {
 /* iPhone SE */
.remotecontroller { width: 100vw; height: 74%; background: url( '../images/пульт2.svg'); top: 210%;}
.blurr {width: 100%; left: 0%; height: 209.9%; }
.bt1 {width: 18.603125%; height: 39.4238411%; left: 8%; top: 52%;}
.bt2 {display: none;}
.bthead {display: none;}
.btarm {width: 18.603125%; height: 39.4238411%; left: 8%; top: 10%;}
.bthand {width: 18.603125%; height: 39.4238411%; left: 77%; top: 10%;}
.btleg {width: 18.603125%; height: 39.4238411%; left: 42%; top: 10%;}
.bttext {display: none;}
.btinfo {width: 18.603125%; height: 39.4238411%; left: 77%; top: 52%;}
.round3_1 {display: none;}
.round3_2 {display: none;}
.round4_1 {display: none;}
.round4_2 {left: 0%; top: 9%;}
.round4_3 {left: 3%; top: 6%;}
.round1_1 {display: none;}
.round1_2 {display: none;}
.round1_3 {display: none;}
.round1_4 {display: none;}
@keyframes bl4 {
  from {transform: scale(1);}
  50% {left: 100%;top: 10%;}
    {transform: scale(0.8);}
  70% {left: 1%;top: 13%;}
  to {transform: scale(1);}}
  .ant {top: 60%;left: 25%;}
  .head {top: 60%;left: 25%;}
  .arm {top: 60%;left: 25%;}
  .hand {top: 60%;left: 25%;}
  .leg {top: 60%;left: 25%;}
  .star_6 {top: 150%;left: 5%; transform: scale(0.5);}
  .star_5 {top: 70%;left: 12%; transform: scale(0.5);}
  .star_8 {top: 36%;left: 33%; transform: scale(0.5);}
  .star_1 {top: 10%;left: 7%; transform: scale(0.5);}
  .star_9 {top: 130%;left: 80%;transform: scale(0.5);}
  .star_2 {top: 76%; transform: scale(0.5);}
  .star_3 {top: 160%;left: 50%; transform: scale(0.5);}
  .star_4 {top: 20%; transform: scale(0.5); left: 60%;}
  .star_7 {top: 10%; transform: scale(0.5); left: 80%;}
  @keyframes star_2 {
  from {transform: scale(0.5);}50% {transform: scale(0.8);}to {transform: scale(0.5);}}
  .muravei, .muravei1, .muravei2, .muravei3, .muravei4, .muravei5, .muravei6, .muravei7, .muravei8, .muravei10 {display: none;}
  .muravei9 {top: 130%; left: 36%;}
  .text h1 {font-size: 12px; left: 5%; width: 90%; top: 40%;}
  .text p {display: none;}
}






























/* @media all and (max-width: 1792px){}
  @media all and (max-width: 1680px)and (min-width:1050px){
.blurr {left: 19.8%;}
.text p {top: 85%;}
.light {display: none;}
.light1 {background: #5DD7FD; width: 80%; left: 23%; opacity: 20%; animation: light2 .1s infinite ease-in-out; filter: blur(30px);}
    @keyframes light2 {
    0% {opacity: 20%;}
    20% {opacity: 0%;}
    30% {opacity: 20%;}
    40% {opacity: 0%;}
    50% {opacity: 20%;}
    60% {opacity: 0%;}
    70% {opacity: 20%;}
    80% {opacity: 0%;}
    90% {opacity: 20%;}
    100% {opacity: 0%;}
      }
  }
  @media all and (max-width: 1440px) and (min-width:900px){
    .blurr {left: 18.1%;}
    .text p {top: 80%;}
    .light {display: none;}
    .light1 {background: #5DD7FD; width: 80%; left: 23%; opacity: 20%; animation: light2 .1s infinite ease-in-out; filter: blur(30px);}
        @keyframes light2 {
        0% {opacity: 20%;}
        20% {opacity: 0%;}
        30% {opacity: 20%;}
        40% {opacity: 0%;}
        50% {opacity: 20%;}
        60% {opacity: 0%;}
        70% {opacity: 20%;}
        80% {opacity: 0%;}
        90% {opacity: 20%;}
        100% {opacity: 0%;}
          }
  }
    @media all and (max-width: 1366px) and (min-width:768px){
      .light {display: none;}
      .light1 {background: #5DD7FD; width: 80%; height: 120%; left: 25%; opacity: 20%; animation: light2 .1s infinite ease-in-out; filter: blur(30px);}
          @keyframes light2 {
          0% {opacity: 20%;}
          20% {opacity: 0%;}
          30% {opacity: 20%;}
          40% {opacity: 0%;}
          50% {opacity: 20%;}
          60% {opacity: 0%;}
          70% {opacity: 20%;}
          80% {opacity: 0%;}
          90% {opacity: 20%;}
          100% {opacity: 0%;}
            }
      .star_9 {top: 90%;}
      .star_6 {top: 86%;}
      .remotecontroller {
        width: 24%;}
        .ant {

                top: 20%;
                left: 38%;
          }
        .head {

            top: 20%;
            left: 38%;
        }
        .arm {

          top: 20%;
          left: 38%;
        }
        .hand {

          top: 20%;
          left: 38%;
        }
        .leg {

          top: 20%;
          left: 38%;
        }
        .muravei5 { top: 96%;}
        .muravei9 { top: 95%;}
        .muravei6 { top: 70%;}
        .muravei7 { top: 98%;}
        .muravei8 { top: 78%;}
        .muravei9 { top: 96%;}
        .muravei { top: 30%;}
        .muravei1 { top: 13%;}
        .muravei2 { top: 22%;}
        .muravei3 { top: 15%;}
        .muravei4 { top: 10%;}
        /* @keyframes light2 {
        0% {transform: rotate(0deg);
        height: 150%;}
        10% {opacity: 0%;
        height: 150%;}
        20% {transform: rotate(-20deg);
        left: 70%;
        height: 150%;}
        30% {opacity: 0%;
        height: 150%;}
        40% {transform: rotate(-30deg);
        left: 40%;
        height: 150%;}
        }
        @keyframes light1 {
        0% {transform: rotate(0deg);
        height: 112%;}
        10% {
        opacity: 0%;}
        20% {transform: rotate(20deg);
        left: 60%;
        height: 112%;}
        30% {opacity: 0%;
        height: 112%;}
        40% {transform: rotate(30deg);
        left: 40%;
        height: 112%;}
        } */
        /* .blurr {width: 77%; left: 23.9%;}
        .round1_1 {left: 32%;}
        .round1_2 {left: 33%;}
        .round1_3 {left: 32%;}
        .round1_4 {left: 33%;}
        .round6_1 {left: 35%;}
        .round6_2 {left: 30%;}
        .round6_3 {left: 35%;}
        @keyframes bl6 {
           from {
             transform: scale(1);
           }
           30% {
             left: 33%; top: 10%;
           }
           50% {
             transform: scale(0.6);
           }
           70% {
             left: 50%; top: 40%;
           }
           to {
             transform: scale(1);
         }
         }
         .text h1 {font-size: 34px; top: 50%; left:30%; width: 65%;}
         .text p {font-size: 16px; top: 90%; left: 30%; width: 55%}

         .round3_1 {
           top: 70%;}
           .round3_2 {
             top: 72%;}
             @keyframes bl3 {
                from {
                  transform: scale(1);
                }
                50% {
                  left: 30%;
                  top: 50%;
                  }
                  {
                  transform: scale(0.8);
                }
                70% {
                  left: 40%;
                  top: 80%;
                }
                to {
                  transform: scale(1);
              }
              }
    }
@media all and (max-width: 1280px) and (min-width:800px){
  .blurr {width: 82.1%; left: 19.8%;}
  .text h1 {font-size: 36px; top: 35%; left: 24%;}
  .text p {font-size: 18px; top: 80%; left: 24%;}
  .muravei5 { top: 60%;}
  .muravei9 { top: 67%;}
  .muravei6 { top: 65%;}
  .muravei7 { top: 60%;}
  .muravei8 { top: 59%;}
  .light {display: none;}
  .light1 {background: #5DD7FD; width: 80%; left: 23%; opacity: 20%; animation: light2 .1s infinite ease-in-out; filter: blur(30px);}
      @keyframes light2 {
      0% {opacity: 20%;}
      20% {opacity: 0%;}
      30% {opacity: 20%;}
      40% {opacity: 0%;}
      50% {opacity: 20%;}
      60% {opacity: 0%;}
      70% {opacity: 20%;}
      80% {opacity: 0%;}
      90% {opacity: 20%;}
      100% {opacity: 0%;}
        }
        .ant {

                top: 10%;
                left: 38%;
          }
        .head {

            top: 10%;
            left: 38%;
        }
        .arm {

          top: 10%;
          left: 38%;
        }
        .hand {

          top: 10%;
          left: 38%;
        }
        .leg {

          top: 10%;
          left: 38%;
        }

}
  @media all and (max-width: 1024px)  and (orientation:landscape) {

    .remotecontroller {
      width: 24%;}
    .bt1 {left: 15%;}
    .bt2 {left: 55%;}
    .bthead {left: 15%;}
    .btarm {left: 55%;}
    .bthand {left: 15%;}
    .btleg {left: 55%;}
    .bttext {left: 15%;}
    .btinfo {left: 55%;}
    .round6_1 {left: 28%;}
    .round6_2 {left: 30%;}
    .round6_3 {left: 28%;}
    @keyframes bl6 {
       from {
         transform: scale(1);
       }
       30% {
         left: 27%; top: 10%;
       }
       50% {
         transform: scale(0.6);
       }
       70% {
         left: 50%; top: 40%;
       }
       to {
         transform: scale(1);
     }
     }
     .round1_1 {left: 28%;}
     .round1_2 {left: 30%;}
     .round1_3 {left: 28%;}
     .round1_4 {left: 28%;}
     .round4_1 {left: 30%;top: 58%;}
     .round4_2 {left: 32%;top: 59%;}
     .round4_3 {left: 34%;top: 62%;}
     @keyframes bl4 {
        from {
          transform: scale(1);
        }
        50% {
          left: 40%;
          top: 30%;
          }
          {
          transform: scale(0.8);
        }
        70% {
          left: 40%;
          top: 70%;
        }
        to {
          transform: scale(1);
      }
      }
.ant {

        top: 15%;
        left: 38%;
  }
.head {

    top: 15%;
    left: 38%;
}
.arm {

  top: 15%;
  left: 38%;
}
.hand {
;
  top: 15%;
  left: 38%;
}
.leg {

  top: 15%;
  left: 38%;
}
.star_6 {top: 95%; left: 35%;}
.star_9 {top: 93%;}
.star_5 {left: 30%; top: 58%;}
.text1 {left: 25%;top: 10%;}
.text4 {top: 80%;}
.text5 {top: 86%;}
.text6 {top: 70%;}
.text8 {top: 55%;}
.text2 {left: 78%; top: 30%;}
.text h1 {font-size: 34px; top: 40%; left: 27%;}
.text p {font-size: 14px; top: 100%; left: 27%;}
.blurr {width: 77%; left: 23.75%;}
.muravei5 { top: 80%;}
.muravei9 { top: 88%;}
.muravei6 { top: 79%;}
.muravei7 { top: 75%;}
.muravei8 { top: 80%;}
.light1{ height: 100%;}
    @media all and (max-width:1024px) and (orientation:portrait) {
.remotecontroller { display: none;}
      .ant {
              width: 47%;
              height: 84%;
              top: 30%;
              left: 38%;
        }
      .head {
        width: 47%;
        height: 84%;
          top: 30%;
          left: 38%;
      }
      .arm {
        width: 47%;
        height: 84%;
        top: 30%;
        left: 38%;
      }
      .hand {
        width: 47%;
        height: 84%;
        top: 30%;
        left: 38%;
      }
      .leg {
        width: 47%;
        height: 84%;
        top: 30%;
        left: 38%;
      }
    }  */
